:root{
        /**colors */
        --color-background-dark:#121212;          /* #24272E*/
        --color-background-light: #D9D9D9;
        --color-very-light:#F6F4F4;
        --color-font:#393D46;
        --color-warning-reset:#EBDB28;          /**#EBDB28 */
        --color-stop-alarm:#E51F1F;
        --color-start-ok:#78B766;              /**#539647 */
        --color-navbar-and-downbar: #0A4380;
    
      

        /** spacing */
        --space-default:20px;                           /**20 */
        --space-small:calc(var(--space-default)/2);    /* 10*/
        --space-medium:calc(var(--space-default)*2);  /**40 */
        --space-large:calc(var(--space-default)*3);  /**60px */


        /**font */
        --font-body: 26px;
        --font-drift-alert: 30px;
        --font-general:24px; 
        /** menu font-weight: 400; */


}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
 
   body{
        width: 40rem;
        height:30rem;
        font-family: outfit;
        background-color: var(--color-background-light);
    font-size: var(--font-body);
    display: flex;
    flex-direction: column;
    margin: 0;

   }

 

    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        
    }
    
    
    .navbar {
        display: flex;
        justify-content: flex-end;
        padding: 1rem 1.5rem;
        background-color: var(--color-background-dark);
        height: 60px;
        margin-bottom: var(--space-medium);

       
    }
    .menu-link{   /** -------------------------------------------- */
        color:var(--color-very-light);
        font-weight: 400;
        padding: 16px;
        line-height: 0px;
        font-size: 26px;
        align-items: center;
      
    
    
    }
    
    .--navbar-type-two{
        justify-content: space-between;
        margin-bottom:var(--space-default) ;
     }
    
   
    
    
    .hamburger {
        display: none;
      
    }
    
    .bar {                       /**hamburger bar  */
        display: block;
        width: 30px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--color-background-dark);
        background-color:var(--color-very-light);
     
    }
    
   
    
    .nav-item {       /** bars on rulled out menu  */
        background-color:var(--color-background-dark);
        height:50px;
        line-height: 50px;
        width: 320px;
        border-radius: 10px;
        font-family: outfit;
        font-size:24px ;
        margin-top:var(--space-default);
        margin-bottom: 0% auto;
     
    
    
    }
  
  
    .nav-link{
        color: var(--color-background-dark);
       
    }
    .nav-link{
      color: var(--color-very-light);

      
    }
    
    .nav-link:hover{
        color: var(--color-start-ok);
    }
    
   
        .nav-menu {     /** rulling out */
            width: 640px;
            position: fixed;
            left: -100%;
            top: var(--space-large);
            flex-direction: column;
            width: 100vw;
            border-radius: 8px;
            text-align: center;
            transition: 0.3s;
            background-color: var(--color-background-light);
            align-items: center;
          
      
        }

        .nav-menu {
            display: flex;
            height:480px;
    
           
        }
    
        .nav-menu.active {
           left: 0;
            display: flex;
            flex-direction: column;
            width: 640px;
            height: 480px;
        

            
        }
    
       
    
        .hamburger {
            display: block;
            cursor: pointer;
        }
    
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        
        }
    
        .hamburger.active .bar:nth-child(1) {
            -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
        }


.main-menu-full-screen{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--space-default);
        justify-content: center;
      align-items: center;
      flex-grow: 1;
      margin-bottom: var(--color-background-light)var(--space-default);
      align-content: center;
      
}
.menu-box-xl{
        width: 250px;
        height: 116px;
        background-color: var(--color-background-dark);
        color: var(--color-background-light);
        border-radius: 8px;
        font-size: var(--font-body);

}


------------------------------------
.status-field{background-color: var(--color-background-dark);}


-----------------------------------------------------------
/** drift -- drift --drift  drift -- drift --drift*/



.line-a{
    font-weight: 100;
    font-size: 24px;
  

}

.arrow-back-left{
    color: var(--color-very-light);
    font-size: 40px;

   
}


/** drift -  - - - - - - - - - -  -*/
.drift-main{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-bottom:var(--space-medium) ;
    justify-content: space-between;
    width: 600px;
  



}
.status-field{
    display: grid;
    width:285px;
    height: 198;
    padding: 20px;
    border: var(--color-background-dark) solid 1px ;
    border-radius: 10px;

}

.alert-text{
    font-size: 30px;

}


.control-buttons-panel{
    display: grid;
    grid-template-columns: 130px auto 130px;
    height: 70px;
    width: 600px;
    margin-bottom:var(--space-default) ;
   
  


}

.--reminder{
    font-size: 20px;
    text-align: right;
    padding-right: var(--space-small);

}
.--dosage{
    background-color: var(--color-start-ok);

}
.--pump{
background-color: var(--color-warning-reset);
}
.button{
    width: 130px;
    height: 70px;
    border-radius:10px ;
    border: 1px solid var(--color-font);
}

.--button-start {
    background-color: var(--color-start-ok);

}


.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--color-background-dark);
}


.button--afslut{
    background-color:var(--color-start-ok);
    color:var(--color-very-light);
    justify-self: end;
     font-size: 24px;
     grid-area: 2/2/3/3;
}

.alert-tekst-field{
    margin-bottom: var(--space-medium);
}

.afslut-linket{
    grid-area: 2/2/3/3;
    justify-self: end;
}



/*
.--button-start{
    background-color: var(--color-start-ok);
}*/

/** .--button-start.active{
background-color: inherit;
border: var(--color-start-ok) 5px solid;
text-transform: uppercase;
color: var(--color-start-ok);
font-weight: 600;


}*/

.--button-stop{
    background-color: var(--color-stop-alarm);
}

/**.--button-stop.active{
    background-color: inherit;
    border: var(--color-stop-alarm) 5px solid;
    text-transform: uppercase;
    color: var(--color-stop-alarm);
    font-weight: 600;

} */


.--in-button-text{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--color-very-light);
}
.drift-content{
padding-left: 20px;
padding-right: 20px;
flex-grow: 1;

}

/** orp--counter */
.counter-orp{
    background-color: var(--color-navbar-and-downbar);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.orp-text{
    font-size: var(--font-general);
    font-weight: 200;
    color: var(--color-very-light);
    padding-right: 20px;



}

#icon--tool-orp{
    color: var(--color-background-dark);
    background-color: var(--color-very-light);
    border: 2px solid var(--color-background-dark-tool);
    border-radius: 50%;
    padding: 8px;
}
/** - - - - - - - - autoriseret- - - - - -  */
.menu-box-medium{
    background-color: var(--color-background-dark);
    color: var(--color-very-light);
    height: 70px;
    width:320px ;
    font-size: var(--font-body);
    border-radius: 10px;

}
.main-autoriseret{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  

}
.production-medium-one{
    margin-bottom: var(--space-medium);


}



/**- - - - - - -- --  */
/**  demo-alerts - - - - -- - - - - -  */

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:gainsboro;
   border: 1px solid var(--color-font);


}
/*  demo-alert colors */
.main-alert{
    display: grid;
    grid-template-columns:  80px auto;
    padding: 0 20px;
   
    
}
.alarmColor{
    background-color:var(--color-stop-alarm);
}
.okColor{background-color: var(--color-start-ok);}
.warningColor{
    background-color:var(--color-warning-reset);
}
.main-alert{
    flex-grow: 1;
    justify-content: center;
}
.demo-footer{
display: flex;
flex-direction: column;
align-items: end;
margin-bottom: 3rem;

}


